<h2><%=t :edit_your_persona, :title => h(persona.title) %></h2>
<%= error_messages_for persona %>

<%= form_for [:account, persona] do |f| %>
  <%= render :partial => 'form', :object => f %>
	<div>
		<%= f.submit t(:submit_update), :class => 'labelspace' %>
	</div>
<% end %>
