<h2><%=t :create_a_new_persona_title %></h2>
<%= error_messages_for persona %>

<%= form_for [:account, persona] do |f| %>
	<%= render :partial => 'form', :object => f %>
	<div>
		<%= f.submit 'create', :class => 'labelspace' %>
	</div>
<% end %>
